[submodule "casouri/valign"]
	path = site-lisp/valign
	url = https://github.com/casouri/valign.git
[submodule "manateelazycat/open-newline"]
	path = site-lisp/open-newline
	url = https://github.com/manateelazycat/open-newline.git
[submodule "manateelazycat/nox"]
	path = site-lisp/nox
	url = https://github.com/manateelazycat/nox.git
[submodule "manateelazycat/awesome-tab"]
	path = site-lisp/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
[submodule "manateelazycat/grammatical-edit"]
	path = site-lisp/grammatical-edit
	url = https://github.com/manateelazycat/grammatical-edit.git
[submodule "Hirozy/golden-ratio.el"]
	path = site-lisp/golden-ratio.el
	url = https://github.com/Hirozy/golden-ratio.el.git
[submodule "casouri/vundo"]
	path = site-lisp/vundo
	url = https://github.com/casouri/vundo.git
