[borg]
	pushDefault = Hirozy
	collective = emacsd
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el.git
	load-path = .
	load-path = data
[submodule "anaphora"]
	path = lib/anaphora
	url = https://github.com/rolandwalker/anaphora.git
[submodule "annalist"]
	path = lib/annalist
	url = https://github.com/noctuid/annalist.el.git
[submodule "async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy.git
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
[submodule "cape"]
	path = lib/cape
	url = https://github.com/minad/cape.git
[submodule "cfrs"]
	path = lib/cfrs
	url = https://github.com/Alexander-Miller/cfrs.git
[submodule "citre"]
	path = lib/citre
	url = https://github.com/universal-ctags/citre.git
[submodule "closql"]
	path = lib/closql
	url = https://github.com/emacscollective/closql.git
[submodule "cmake-mode"]
	path = lib/cmake-mode
	url = https://github.com/emacsmirror/cmake-mode.git
[submodule "color-theme-sanityinc-tomorrow"]
	path = lib/color-theme-sanityinc-tomorrow
	url = https://github.com/purcell/color-theme-sanityinc-tomorrow.git
[submodule "company"]
	path = lib/company
	url = https://github.com/company-mode/company-mode.git
[submodule "compat"]
	path = lib/compat
	url = https://github.com/phikal/compat.el.git
[submodule "conda"]
	path = lib/conda
	url = https://github.com/necaris/conda.el.git
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult.git
[submodule "consult-dir"]
	path = lib/consult-dir
	url = https://github.com/karthink/consult-dir.git
[submodule "consult-flycheck"]
	path = lib/consult-flycheck
	url = https://github.com/minad/consult-flycheck.git
[submodule "consult-org-roam"]
	path = lib/consult-org-roam
	url = https://github.com/jgru/consult-org-roam
[submodule "consult-projectile"]
	path = lib/consult-projectile
	url = https://gitlab.com/OlMon/consult-projectile.git
[submodule "consult-yasnippet"]
	path = lib/consult-yasnippet
	url = https://github.com/mohkale/consult-yasnippet.git
[submodule "corfu"]
	path = lib/corfu
	url = https://github.com/minad/corfu.git
	load-path = .
	load-path = extensions
[submodule "corfu-terminal"]
	path = lib/corfu-terminal
	url = https://codeberg.org/akib/emacs-corfu-terminal.git
[submodule "ctrlf"]
	path = lib/ctrlf
	url = https://github.com/raxod502/ctrlf.git
[submodule "dash"]
	no-byte-compile = dash-functional.el
	no-makeinfo = dash-template.texi
	path = lib/dash
	url = https://github.com/magnars/dash.el.git
[submodule "dash-at-point"]
	path = lib/dash-at-point
	url = https://github.com/stanaka/dash-at-point.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl.git
[submodule "diminish"]
	path = lib/diminish
	url = https://github.com/myrjola/diminish.el.git
[submodule "dockerfile-mode"]
	path = lib/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = https://github.com/Wilfred/elisp-refs.git
[submodule "emacsql"]
	no-byte-compile = emacsql-pg.el
	path = lib/emacsql
	url = https://github.com/skeeto/emacsql.git
	build-step = cd sqlite && make clean && make
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark.git
	no-byte-compile = avy-embark-collect.el
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg.git
[submodule "epkg-marginalia"]
	path = lib/epkg-marginalia
	url = https://github.com/emacscollective/epkg-marginalia.git
[submodule "epl"]
	path = lib/epl
	url = https://github.com/cask/epl.git
[submodule "evil"]
	path = lib/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "evil-collection"]
	path = lib/evil-collection
	url = https://github.com/emacs-evil/evil-collection.git
[submodule "evil-matchit"]
	path = lib/evil-matchit
	url = https://github.com/redguardtoo/evil-matchit.git
[submodule "evil-numbers"]
	path = lib/evil-numbers
	url = https://github.com/juliapath/evil-numbers.git
[submodule "evil-surround"]
	path = lib/evil-surround
	url = https://github.com/emacs-evil/evil-surround.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "expand-region"]
	path = lib/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el.git
[submodule "fish-mode"]
	path = lib/fish-mode
	url = https://github.com/wwwjfy/emacs-fish.git
[submodule "flycheck"]
	path = lib/flycheck
	url = https://github.com/flycheck/flycheck.git
	no-byte-compile = flycheck-buttercup.el
[submodule "format-all"]
	path = lib/format-all
	url = https://github.com/lassik/emacs-format-all-the-code.git
[submodule "gcmh"]
	path = lib/gcmh
	url = https://gitlab.com/koral/gcmh.git
[submodule "git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "gnuplot"]
	path = lib/gnuplot
	url = https://github.com/emacs-gnuplot/gnuplot.git
[submodule "go-mode"]
	path = lib/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "go-playground"]
	path = lib/go-playground
	url = https://github.com/grafov/go-playground.git
[submodule "gotest"]
	path = lib/gotest
	url = https://github.com/nlamirault/gotest.el.git
[submodule "goto-chg"]
	path = lib/goto-chg
	url = https://github.com/emacs-evil/goto-chg.git
[submodule "haskell-mode"]
	path = lib/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "helpful"]
	path = lib/helpful
	url = https://github.com/Wilfred/helpful.git
[submodule "hl-indent-scope"]
	path = lib/hl-indent-scope
	url = https://codeberg.org/ideasman42/emacs-hl-indent-scope.git
[submodule "ht"]
	path = lib/ht
	url = https://github.com/Wilfred/ht.el.git
[submodule "htmlize"]
	path = lib/htmlize
	url = https://github.com/hniksic/emacs-htmlize.git
[submodule "hungry-delete"]
	path = lib/hungry-delete
	url = https://github.com/nflath/hungry-delete.git
[submodule "hydra"]
	path = lib/hydra
	url = https://github.com/abo-abo/hydra.git
	no-byte-compile = hydra-examples.el
[submodule "iedit"]
	path = lib/iedit
	url = https://github.com/victorhge/iedit.git
[submodule "inheritenv"]
	path = lib/inheritenv
	url = https://github.com/purcell/inheritenv.git
[submodule "js2-mode"]
	path = lib/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "key-chord"]
	path = lib/key-chord
	url = https://github.com/emacsorphanage/key-chord.git
[submodule "kind-all-the-icons"]
	path = lib/kind-all-the-icons
	url = https://github.com/Hirozy/kind-all-the-icons.git
[submodule "language-id"]
	path = lib/language-id
	url = https://github.com/lassik/emacs-language-id.git
[submodule "leuven-theme"]
	path = lib/leuven-theme
	url = https://github.com/fniessen/emacs-leuven-theme.git
[submodule "llama"]
	path = lib/llama
	url = https://github.com/emacsmirror/llama.git
[submodule "lua-mode"]
	path = lib/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "magit"]
	no-byte-compile = lisp/magit-libgit.el
	path = lib/magit
	url = https://github.com/magit/magit.git
[submodule "magit-lfs"]
	path = lib/magit-lfs
	url = https://github.com/Ailrun/magit-lfs.git
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "mmm-mode"]
	path = lib/mmm-mode
	url = https://github.com/dgutov/mmm-mode.git
[submodule "mwim"]
	path = lib/mwim
	url = https://github.com/alezost/mwim.el.git
[submodule "nftables-mode"]
	path = lib/nftables-mode
	url = https://github.com/emacsmirror/nftables-mode.git
[submodule "nix-mode"]
	path = lib/nix-mode
	url = https://github.com/NixOS/nix-mode.git
[submodule "ob-ipython"]
	path = lib/ob-ipython
	url = https://github.com/gregsexton/ob-ipython.git
[submodule "open-newline"]
	path = lib/open-newline
	url = https://github.com/manateelazycat/open-newline.git
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "org-download"]
	path = lib/org-download
	url = https://github.com/abo-abo/org-download.git
[submodule "org-roam"]
	path = lib/org-roam
	url = https://github.com/org-roam/org-roam.git
	load-path = .
	load-path = extensions
[submodule "org-roam-ui"]
	path = lib/org-roam-ui
	url = https://github.com/org-roam/org-roam-ui.git
[submodule "org-shell-cat"]
	path = lib/org-shell-cat
	url = git@github.com:Hirozy/org-shell-cat.git
[submodule "packed"]
	path = lib/packed
	url = https://github.com/emacscollective/packed.git
[submodule "pfuture"]
	path = lib/pfuture
	url = https://github.com/Alexander-Miller/pfuture.git
[submodule "pkg-info"]
	path = lib/pkg-info
	url = https://github.com/emacsorphanage/pkg-info.git
[submodule "plantuml-mode"]
	path = lib/plantuml-mode
	url = https://github.com/skuro/plantuml-mode.git
[submodule "poetry"]
	path = lib/poetry
	url = https://github.com/galaunay/poetry.el.git
[submodule "popon"]
	path = lib/popon
	url = https://codeberg.org/akib/emacs-popon.git
[submodule "popper"]
	path = lib/popper
	url = https://github.com/karthink/popper.git
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "puni"]
	path = lib/puni
	url = https://github.com/AmaiKinono/puni.git
[submodule "pythonic"]
	path = lib/pythonic
	url = https://github.com/pythonic-emacs/pythonic.git
[submodule "pyvenv"]
	path = lib/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv.git
[submodule "quickrun"]
	path = lib/quickrun
	url = https://github.com/emacsorphanage/quickrun.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "rust-mode"]
	path = lib/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "rust-playground"]
	path = lib/rust-playground
	url = https://github.com/Hirozy/rust-playground.git
	branch = fix-save
[submodule "rustic"]
	path = lib/rustic
	url = https://github.com/brotzeit/rustic.git
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el.git
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = https://github.com/skeeto/emacs-web-server.git
[submodule "spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el.git
[submodule "symbol-overlay"]
	path = lib/symbol-overlay
	url = https://github.com/wolray/symbol-overlay.git
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient.git
[submodule "treemacs"]
	path = lib/treemacs
	url = https://github.com/Alexander-Miller/treemacs.git
	load-path = src/elisp
	load-path = src/extra
	no-byte-compile = src/extra/treemacs-persp.el
	no-byte-compile = src/extra/treemacs-perspective.el
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el.git
[submodule "uuidgen"]
	path = lib/uuidgen
	url = https://github.com/kanru/uuidgen-el.git
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico.git
	load-path = .
	load-path = extensions
[submodule "vterm"]
	path = lib/vterm
	url = https://github.com/akermu/emacs-libvterm.git
	build-step = mkdir -p build
	build-step = cd build && cmake .. && make
	build-step = git restore CMakeLists.txt
	build-step = borg-compile
	build-step = borg-update-autoloads
[submodule "vundo"]
	path = lib/vundo
	url = https://github.com/casouri/vundo.git
[submodule "websocket"]
	path = lib/websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "whitespace-cleanup-mode"]
	path = lib/whitespace-cleanup-mode
	url = https://github.com/purcell/whitespace-cleanup-mode.git
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "xterm-color"]
	path = lib/xterm-color
	url = https://github.com/atomontage/xterm-color.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "ztree"]
	path = lib/ztree
	url = https://github.com/fourier/ztree.git
