[submodule "site-lisp/awesome-pair"]
	path = site-lisp/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "site-lisp/open-newline"]
	path = site-lisp/open-newline
	url = https://github.com/manateelazycat/open-newline.git
[submodule "site-lisp/nox"]
	path = site-lisp/nox
	url = https://github.com/manateelazycat/nox.git
